* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: radial-gradient(#ffffff 5%, #000000 1%);
    background-position: 0 0;
    background-size: 2vw 2vw;
    height: 100px;
    width: 100%;
    font-family: serif;
    animation-duration: 20s; 
    animation-name: background;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes background {
    0% {    background-position: 0vh 0vh;}
    100% {    background-position: 100vh 100vh;}
}

.header-container {
    height: 100px;
    background-color: black;
    border: 1px white dashed;
    display: flex;
}

.logo-container {
    object-fit: cover;
    height: 100px;
    width: 117px;
    border-right: 1px white dashed;
}

.logo-container:hover {
    filter: contrast(1.4) brightness(2) brightness(5);
    transition: 0.05s linear;
}

.logo-text-container {
    color: white;
    font-size: 70px;
    font-variant: small-caps;
    height: 70px;
    font-weight: bolder;
    overflow: hidden;
    word-wrap: break-word;
    margin: auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu-container {
    display: flex;
    display: flex;
    background-color: rgb(0, 0, 0);
    border: 1px white dashed;
    border-top: 0px;
    align-items: center;
    justify-content: space-around;
    height: 30px;
}


.home-link:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}

a {
    list-style-type: none;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s linear;
    border-right: 1px white dashed;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bolder;
    overflow: hidden;
    word-wrap: break-word;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { 
    text-decoration: none; 
    background-color: rgba(98, 0, 255, 0.4);
}
a:active { text-decoration: none; }

.menu:hover .menu-container {
    display: block;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
}

.main-container {
    background-color: black;
    width: 80vw;
    height: 2000px;
    display: flex;
    margin: auto;
    border-left:1px white dashed;
    border-right:1px white dashed;
}

.footer-container {
    background-color: black;
    height: 150px;
    border: 1px white dashed;
}

